header {
    width: calc(100% - 60px);
    height: 100px;
    margin:0 auto;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    width: 213px;
}
header h1 a {}
header h1 a img {width: 100%;}
header .right {
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    gap:25px;
}
header .right .lang {font-size: 1.250rem; letter-spacing: -0.02em;}
header .right #searchFrm {
    background:#F5F5F5; padding: 7px 15px;
    border-radius: 10px;  width: 332px;
}
header .right #searchFrm fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .right #searchFrm fieldset #searchTxt {background: none;}
header .right #searchFrm fieldset #searchTxt::placeholder {letter-spacing: -0.02em; color:#888888;}
header .right #searchFrm fieldset #searchBtn {background: none;}
header .right #login {}
header .right #login img {}
header .right #cart {}
header .right #cart img {}
header .right #menu {}
header .right #menu img {}